%h1 Morning Pages
%p
  Usage:
  %ol
    %li
      Download the morning pages gem using gem install morning-pages
    %li
      Type your words using your $EDITOR.
    %li
      When you are done for the moment, quit your editor. Your progress automatically be uploaded here.
    %li
      %b Coming soon:
      Lots of lovely stats and leaderboards

%p
  by
  %a{:href => 'http://chrismdp.com'} chrismdp

%p
  &copy;
  = Time.now.year
